<a href="https://colab.research.google.com/github/Shellawati/hello-world/blob/main/Python_Simulation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Variable

Assigning variable is easy, you can use format {variable name} = {the data}. Variable can be assigned with various data type. Let's try to assign simple data type to a variable.

In [12]:
first_name = 'Silva'
last_name  = 'Taqwa'
age = 25
gender   = 'Male'
umur_bukan_angka = '25'

After assigning data to the variables, you can retrieve the information or data stored in that variable by using "print()"function.

In [14]:
first_name+last_name

'SilvaTaqwa'

In [11]:
age+age

50

In [6]:
print (first_name)

Silva

You can also assign data by mentioning several variable names in one line and sparating them with commas.

In [18]:
first_name, last_name, age = 'Snow', 'White', 20

In [7]:
print (first_name)

Silva

# Integer, Float, Boolean, String

You can retrieve the type of data using "type()" function.

angka 24, tipe datanya apa ?

In [20]:
#this is data type integer
type(24)

int

In [21]:
# this is adata type float
type(3.14)

float

In [22]:
# this is data type boolean
type(False)

bool

In [27]:
x = 5
type(x)

int

In [28]:
# this is data type string
y = 'Indonesia'
type(y)

str

You can use the "len()" function to know the length or number of characters of a particular string.

In [29]:
len(y)

9

You can retrieve the particular character from a string using its index. The first character's index is 0.

In [32]:
print(y[0])
print(y[5])

I
n